.imagenConLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    transition: all;
}

.parrafos {
   color: $colorBlanco ; 
}

.formulario {
    font-family: $fuente;
    font-size: x-large;
    color: $colorBlanco ;
}


@mixin h1 {
    font-family: $fuente;
    text-align: center;
    color: $colorNegro;
}
