@import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Concert+One&family=Courgette&family=Dancing+Script&family=Lobster&family=Pacifico&family=Sacramento&family=Viga&display=swap');

body {
    background-image: linear-gradient(to right bottom, #051937, #003252, #004d6b, #006981, #098692);
    }
    .eslogan { 
    font-family: 'Courgette', cursive;
    background-color: lightblue;
    font-size:xx-large;
    text-align: center;
    padding: 5%;
}

header__nav__ul {
    font-size:18PX;
    font-family: 'Amaranth', sans-serif;
    font-weight: bold;
}

h1{
    background-color: lightblue;
    font-family: 'Courgette', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: black;
    text-align: center;
}

.animate__animated {
    --animate-duration: 2s;
}

.imagenConLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    transition: all;
}



.parrafos {
   color:#f5e5ed ; 
}


.formulario {
    font-family: 'Courgette', cursive;
    font-size: x-large;
    color:#f5e5ed ;
}


h2 {
    font-family: 'Courgette', cursive;
    text-align: center;
    color: black;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.parrafoFooter {
    font-family: 'Courgette', cursive;
    text-align: center;
    align-content: center;
    flex-direction: column;
    color: #f5e5ed;
}

h1{
    background-color: lightblue;
    font-family: 'Courgette', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: black;
    text-align: center;
}

.animate__animated {
    --animate-duration: 2s;
}

.imagenConLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    transition: all;
}



.parrafos {
   color:#f5e5ed ; 
}


.formulario {
    font-family: 'Courgette', cursive;
    font-size: x-large;
    color:#f5e5ed ;
}


h2 {
    font-family: 'Courgette', cursive;
    text-align: center;
    color: black;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.parrafoFooter {
    font-family: 'Courgette', cursive;
    text-align: center;
    align-content: center;
    flex-direction: column;
    color: #f5e5ed;
}